config SHIELD_TARAKKIE_V2_LEFT
    def_bool $(shields_list_contains,tarakkie_v2_left)
    select ZMK_SPLIT_ROLE_CENTRAL

config SHIELD_TARAKKIE_V2_RIGHT
    def_bool $(shields_list_contains,tarakkie_v2_right)
