if SHIELD_TARAKKIE_V2_LEFT

config ZMK_SPLIT_ROLE_CENTRAL
    default y

config ZMK_SPLIT_BLE_CENTRAL_BATTERY_LEVEL_PROXY
    default y

config ZMK_SPLIT_BLE_CENTRAL_PERIPHERALS
    default 1

endif

if SHIELD_TARAKKIE_V2_LEFT || SHIELD_TARAKKIE_V2_RIGHT

config ZMK_SPLIT
    default y

endif
