/*
 * Copyright (c) 2025 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <dt-bindings/zmk/matrix_transform.h>

/ {
    chosen {
        zmk,kscan = &kscan0;
        zmk,matrix_transform = &default_transform;
    };

    default_transform: keymap_transform_0 {
        compatible = "zmk,matrix-transform";
        columns = <5>;
        rows = <6>;
        // Map 30 keys - Align with your physical layout
        // Rows 0-5, Cols 0-4
        map = <
        RC(0,0) RC(0,1) RC(0,2) RC(0,3) RC(0,4)
        RC(1,0) RC(1,1) RC(1,2) RC(1,3) RC(1,4)
        RC(2,0) RC(2,1) RC(2,2) RC(2,3) RC(2,4)
        RC(3,0) RC(3,1) RC(3,2) RC(3,3) RC(3,4)
        RC(4,0) RC(4,1) RC(4,2) RC(4,3) RC(4,4)
        RC(5,0) RC(5,1) RC(5,2) RC(5,3) RC(5,4)
        >;
    };

    kscan0: kscan_0 {
        compatible = "zmk,kscan-gpio-matrix";
        label = "KSCAN";
        diode-direction = "col2row";

        // Using MCP23017 for Matrix scanning to save Xiao pins for modules
        col-gpios
            = <&mcp23017 0 GPIO_ACTIVE_HIGH> // GPA0
            , <&mcp23017 1 GPIO_ACTIVE_HIGH> // GPA1
            , <&mcp23017 2 GPIO_ACTIVE_HIGH> // GPA2
            , <&mcp23017 3 GPIO_ACTIVE_HIGH> // GPA3
            , <&mcp23017 4 GPIO_ACTIVE_HIGH> // GPA4
            ;

        row-gpios
            = <&mcp23017 8 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>  // GPB0
            , <&mcp23017 9 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>  // GPB1
            , <&mcp23017 10 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // GPB2
            , <&mcp23017 11 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // GPB3
            , <&mcp23017 12 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // GPB4
            , <&mcp23017 13 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // GPB5
            ;
    };
};

&xiao_i2c {
    status = "okay";
    clock-frequency = <I2C_BITRATE_FAST>;

    // Main Matrix IO Expander
    mcp23017: mcp23017@20 {
        compatible = "microchip,mcp230xx";
        reg = <0x20>; // Address 0x20 (A0=GND, A1=GND, A2=GND)
        label = "MCP23017";
        gpio-controller;
        #gpio-cells = <2>;
        ngpios = <16>;
    };

    // --- Swappable Module Configuration (Placeholder) ---
    // Since only one module is active at a time, we define the default one here (Trackball).
    // The user can uncomment/swap snippets for other modules.

    // Module: Trackball (PMW3610)
    // PMW3610 is SPI. We map it to the Xiao's SPI pins, which are routed to the module connector.
};

// Define Module SPI Devices
&xiao_spi {
    status = "okay";
    cs-gpios = <&gpio0 6 GPIO_ACTIVE_LOW>; // D6 - Chip Select for Module

    trackball: trackball@0 {
        compatible = "pixart,pmw3610";
        reg = <0>;
        spi-max-frequency = <2000000>;
        irq-gpios = <&gpio0 7 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>; // D7 - INT pin if available
        // scroll-layers = <1>; // Optional: Scroll layer index
    };
};

/ {
    /*
    trackball_listener {
        compatible = "zmk,input-listener";
        device = <&trackball>;
    };
    */
};
