#include <dt-bindings/zmk/matrix_transform.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/mouse.h>
#include <dt-bindings/zmk/input.h>
#include <dt-bindings/gpio/gpio.h>
#include "tarakkie_v2.dtsi"

/ {
    chosen {
        zmk,kscan = &kscan0;
        zmk,matrix_transform = &default_transform;
    };

    kscan0: kscan_0 {
        compatible = "zmk,kscan-gpio-matrix";
        label = "KSCAN";
        diode-direction = "col2row";

        // Switching to ACTIVE_LOW because MCP23017 has no internal pull-downs, only pull-ups.
        col-gpios
            = <&mcp23017 0 GPIO_ACTIVE_LOW>
            , <&mcp23017 1 GPIO_ACTIVE_LOW>
            , <&mcp23017 2 GPIO_ACTIVE_LOW>
            , <&mcp23017 3 GPIO_ACTIVE_LOW>
            , <&mcp23017 4 GPIO_ACTIVE_LOW>
            ;

        row-gpios
            = <&mcp23017 8 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&mcp23017 9 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&mcp23017 10 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&mcp23017 11 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&mcp23017 12 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&mcp23017 13 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            ;
    };
};

// Right side shares same protocol
&i2c0 {
    status = "okay";
    pinctrl-0 = <&i2c0_default>;
    pinctrl-1 = <&i2c0_sleep>;
    pinctrl-names = "default", "sleep";
    clock-frequency = <I2C_BITRATE_FAST>;

    mcp23017: mcp23017@20 {
        compatible = "microchip,mcp23017";
        status = "okay";
        reg = <0x20>; // Ensure address matches your soldering (A0-A2)
        gpio-controller;
        #gpio-cells = <2>;
    };
};

&spi0 {
    status = "okay";
    cs-gpios = <&gpio0 6 GPIO_ACTIVE_LOW>;

    trackball: trackball@0 {
        compatible = "pixart,pmw3610-alt";
        reg = <0>;
        spi-max-frequency = <2000000>;
        motion-gpios = <&gpio0 7 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
        zephyr,axis-x = <INPUT_REL_X>;
        zephyr,axis-y = <INPUT_REL_Y>;
    };
};

/ {
    trackball_listener {
        compatible = "zmk,input-listener";
        device = <&trackball>;
        // Use alt-driver's relative axis
    };
};
