/*
 * Copyright (c) 2025 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include "tarakkie_v2.dtsi"

/ {
    chosen {
        zmk,kscan = &kscan0;
        zmk,matrix_transform = &default_transform;
    };

    kscan0: kscan_0 {
        compatible = "zmk,kscan-gpio-matrix";
        label = "KSCAN";
        diode-direction = "col2row"; // Assuming diodes (if any) are col to row. For wire shorting, this direction is fine.

        // Switching to ACTIVE_LOW because MCP23017 has no internal pull-downs, only pull-ups.
        col-gpios
            = <&mcp23017 0 GPIO_ACTIVE_LOW> // GPA0
            , <&mcp23017 1 GPIO_ACTIVE_LOW> // GPA1
            , <&mcp23017 2 GPIO_ACTIVE_LOW> // GPA2
            , <&mcp23017 3 GPIO_ACTIVE_LOW> // GPA3
            , <&mcp23017 4 GPIO_ACTIVE_LOW> // GPA4
            ;

        row-gpios
            = <&mcp23017 8 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>  // GPB0
            , <&mcp23017 9 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>  // GPB1
            , <&mcp23017 10 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)> // GPB2
            , <&mcp23017 11 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)> // GPB3
            , <&mcp23017 12 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)> // GPB4
            , <&mcp23017 13 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)> // GPB5
            ;
    };
};

&i2c0 {
    status = "okay";
    clock-frequency = <I2C_BITRATE_FAST>;

    // Main Matrix IO Expander
    mcp23017: mcp23017@20 {
        compatible = "microchip,mcp23017";
        status = "okay";
        reg = <0x20>; // Address 0x20 (A0=GND, A1=GND, A2=GND)
        gpio-controller;
        #gpio-cells = <2>;
    };
};

// --- Swappable Module Configuration ---
// Module 1: Trackball (PMW3610) + Encoder + Switch

/ {
    // Encoder (EC11) - Connected to Xiao GPIOs D2, D3
    encoder_1: encoder_1 {
        compatible = "alps,ec11";
        a-gpios = <&gpio0 2 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
        b-gpios = <&gpio0 3 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
        steps = <80>;
        status = "okay";
    };

    sensors: sensors {
        compatible = "zmk,keymap-sensors";
        sensors = <&encoder_1>; // Register the encoder
        triggers-per-rotation = <20>;
    };
};

&xiao_spi {
    status = "okay";
    cs-gpios = <&gpio0 6 GPIO_ACTIVE_LOW>; // D6 - Chip Select for Module

    trackball: trackball@0 {
        compatible = "pixart,pmw3610";
        reg = <0>;
        spi-max-frequency = <2000000>;
        motion-gpios = <&gpio0 7 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>; // D7 - INT pin
        zephyr,axis-x = <INPUT_REL_X>;
        zephyr,axis-y = <INPUT_REL_Y>;
        // scroll-layers = <1>; // Optional: Scroll layer index
    };
};

// Add Encoder Switch and Extra Module Keys to the Matrix
// We use the remaining Xiao GPIOs or MCP23017 pins.
// For Module 1, we have a switch on D1?
/ {
    // We need to define these extra keys in the matrix transform if we want them to send keycodes
    // Or handle them as direct GPIO keys if they are not part of the matrix.
    
    module_keys {
        compatible = "gpio-keys";
        
        // Encoder Push Switch
        enc_switch: enc_switch {
            gpios = <&gpio0 1 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
            label = "Encoder Switch";
            zephyr,code = <INPUT_KEY_A>; // Placeholder, mapped in keymap
        };
    };
};

